
* {
    /* following commands prevent padding with interferin with size */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    transition: all 0.2s;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cdcaca;
}

.container {
    padding: 1% 2%;
}

.header_container {
    padding: 0 0 1% 0;
    color: whitesmoke;
}

.pagination {
    position: absolute;
    float: left;
    left: 10px;
    bottom: 10px;
    width: 100%;
    height: 40px;
}

a.pagination {
    position: relative;
    width: 35px;
}

.page_box {
    margin: 1px;
    width: 32px !important;
    height: 32px;
    background-color: #15882f;
    color: white;
    line-height: 30px;
}

.shadow:hover {
    box-shadow: -3px -3px 2px black;
}

.header {
    width: 100%;
}

.user_main {
    width: 70%;
    float: left;
}

.user_side {
    width: 30%;
    float: left;
}

.anonym_main {
    width: 100%;
}

.side {
    float: right;
    width: 30%;
}

.footer {
    clear: both;
    width: 100%;
}

.box {
    background-color: #e7e4e4;
    width: 100%;
    border-radius: 4px;
    min-width: 430px;
}

a {
    display: inline;
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    font-size: 100px;
    margin: 0;
    color: #000000 !important;
}

.link {
    text-decoration: none;
    color: inherit;
}

img.the_picture {
    width: inherit;
}

.comment_box {
    border: 1px grey solid;
    max-width: 100%;
}

.link:hover {
    color: #8196ff;
}

.header_links {
    text-align: start !important;
    position: absolute;
    right: 3px;
    bottom: 3px;
}

.header_box {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #15882f;
}

.side_box {
    width: 100%;
    height: 600px;
    text-align: center;
}

.main_box {
    min-height: 600px;
    height: auto;
    text-align: center;
    position: relative;
    padding-top: 10px;
}

.main_box_on_user {
    height: 600px;
    min-width: 480px;
    overflow-y: scroll;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.footer_box {
    text-align: right;
    color: #15882f;
}

input {
    width: 95%;
    height: 40px;
    margin: 10px;
    text-align: center;
}

form {
    text-align: center;
}

.button {
    padding: 10px;
    width: 50%;
}

.session_form {
    width: 400px;
    margin: 0 auto;
    padding: 0 100px;
}

.error {
    color: red;
}

.welcome_box {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.homepage_link_box {
    width: 142px;
    padding: 2px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border: white solid 2px;
}

.homepage_link_box:hover {
    background-color: black;
    color: white !important;
}

button.ouistiti {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    color: white;
    background-color: green;
    border: solid white 2px;
}

div.button_box {
    width: 100%;
}

div.video_picture_box {
    width: 480px;
    float: left;
    border-right: solid 1px #15882f;
}

div.picture_options_box {
    width: auto;
}

div.video_picture_container {
    width: 400px;
    height: 300px;
    margin: auto auto;
    background-color: black;
}

.camera_stream {
    width: 100%;
}

.pic_box {
    margin: 10px;
    width: 250px;
    height: 190px !important;
    display: inline-block;
    box-shadow: -2px -2px 3px #a09ba4;
    border-radius: 3px;
}

.pictures {
    width: 100%;
    max-height: inherit;
    border-radius: 4px;
}

.pic_box:hover {
    transform: scale(1.05);
}

.link_page  {
    float:left;
}

.all_pic_container {
    width: 96%;
    margin: auto;
    height: 95%;
    overflow-y: auto;
}

.picture_user_button {
    width: 90%;
    margin: 10px auto;
    display: inline-block;
}

.like_box {
    clear: both;
    width: 100%;
}

.nbr_like_box {
    display: inline;
    width: 45%;
}

.like_button {
    display: inline;
    width: 200px;
    height: 60px !important;
}

.picture_buttons {
    background-color: #15882f;
    color:white;
    max-width: 300px;
}

img.thumbs_up_pic {
    width: 50px;
    margin: 0;
    float: right;
}

p.nbr_like {
    font-size: 42px;
    margin: 0;
    float:right;
}

.all_comments_container {
    clear:both;
    width: 96%;
    margin: auto;
    height: 95%;
    word-wrap: break-word;
}

.comment_box {
    clear: both;
    border-bottom: solid white 2px;
}

.comment_user {
    max-width: 25%;
    float: left;
    text-align: left;
    font-style: italic;
}

.comment_content {
    max-width: 75%;
    float: right;
}

.all_picture_link {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.picture_to_add_box {
    width: inherit;
    margin: 10px auto;
    display: inline-block;
}

.picture_to_add {
    width: 150px;
    margin: auto;
    border: solid transparent 2px;
}

.picture_to_add:hover {
    border: solid white 2px;
}

.selected {
    border: solid red 2px !important;
}

.disabled {
    background-color: red !important;
}

.no_camera_text {
    color: white;
}

#no_camera_div {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: auto;
    color: white;
    border: white 1px solid;
}

a.forget_password {
    font-size: 14px;
    font-style: italic;
    margin: 0;
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 60px;
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 1450px) {
    .picture_to_add {
        width: 100px;
    }
}

@media screen and (max-width: 920px) {
    .user_main {
        width: 100%;
    }

    .video_picture_box {
        border: none !important;
        clear: both;
        margin: auto;
    }

    .user_side {
        clear: both;
        width: 100%;
    }
}

