
*{
    /* following commands prevent padding with interferin with size */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    border: solid #c9c9c9 1px;
    padding: 1% 2%;
}

.header {
    width: 100%;
}

.user_main {
    width: 70%;
    float:left;
}

.user_side {
    width: 30%;
    float:right;
}

.anonym_main {
    width: 100%;
}

.side {
    float:right;
    width: 30%;
}

.footer {
    clear: both;
    position:absolute;
    bottom:10px;
    width: 100%;
}

.box {
    background-color: #e6eaff;
    width: 100%;
}

a {
    display: inline;
    text-decoration: none;
    color:inherit;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    font-size: 420%;
    margin:0;
    color: #000000 !important;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: red;
}

.header_links {
    text-align: start !important;
    position: absolute;
    right: 3px;
    bottom: 3px;
    color: darkgray !important;
}

.header_box {
    position: relative;
    width: 100%;
    text-align: center;
}

.side_box {
    height: 600px;
    text-align: center;
}

.main_box {
    height: 600px;
    text-align: center;
}

.footer_box {

}

input {
    width:95%;
    height: 40px;
    margin: 10px;
    text-align: center;
}

form {
    text-align: center;
}

.button {
    padding: 10px;
    width: 50%;
}

.session_form {
    width:400px;
    margin:0 auto;
    padding:0 100px;
}

/*
@media screen and (max-width: 550px) {
    .session_form {
        padding:0 0;
        width:100%;
    }
}
*/

.error {
    color: red;
}

.welcome_box {
    width : 800px;
    margin: 0 auto;
    padding: 10px;
}

.homepage_link_box {
    width: 142px;
    padding: 2px;
    margin: 0 auto;
    text-align:center;
    background-color: white;
    border: white solid 2px;
}

.homepage_link_box:hover {
    background-color: black;
    color:white !important;
}

button.picture {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border: solid white 2px;
}

div.button_box {
    width:100%;
}

div.video_box{
    width: 50%;
    float:left;
    margin: 0;
}

div.picture_box {
    width: 48%;
    float:left;
}

div.video_container {
    width: 500px;
    height: 375px;
    margin: 40px auto;
    background-color: black;
}

.vertical_bar{
    float:left;
    margin: 2% 0;
    width:1px;
    border-left:1px solid gray;
    height: 92%;
}

.camera_stream {
    width:500px;
}